/* Google fonts(inter and Grey Qo) */
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* default styles */
*,
::root {
   padding: 0;
   margin: 0;
}

.container {
   max-width: 1060px;
   margin: 0 auto;
}

main {
   max-width: 100%;
   margin: 0 auto;
   background-color: #000;
}

body {
   font-family: "Inter", sans-serif;
}

header {
   background: linear-gradient(180.00deg, rgb(0 0 0 / 85%), rgb(0 0 0) 100%);
}

/* 
/* Shared styles  */
.inter {
   font-family: "Inter", sans-serif;
}

.grey-qo-regular {
   font-family: "Grey Qo", cursive;
   font-weight: 600;
   font-style: normal;
   font-style: italic;
   font-size: 4.5rem;
   letter-spacing: .5rem;
}


.flex {
   display: flex;
}

.text-center {
   text-align: center;
}

.text-bold {
   font-weight: bolder;
}


.primary-btn {
   padding: 1rem 2.5rem;
   background-color: rgb(230, 83, 60);
   border-radius: 2.5rem;
   font-size: 1rem;
   font-weight: bold;
   color: white;
   border: none;
   cursor: pointer;
}

.secondary-btn {
   padding: 1rem 2.5rem;
   background-color: black;
   border-radius: 2.5rem;
   font-size: 1rem;
   font-weight: bold;
   color: rgb(255, 255, 255);
   border: 2px solid rgb(255, 255, 255);
   cursor: pointer;
   margin-left: .8rem;
   box-sizing: border-box;
}



/* navbar styles  */
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.nav-options {
   display: flex;
   align-items: center;
   gap: 5rem;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 4rem;
   padding: .4rem;
}

.nav-options a {
   text-decoration: none;
   color: white;
   font-style: bold;
   font-size: 1.125rem;
   font-weight: normal;
   cursor: pointer;
}

.logo a {
   text-decoration: none;
}

.logo .span {
   color: rgb(230, 83, 60);
   font-size: 2rem;
   font-weight: 800;
}

.nav-options .span {
   background-color: rgb(230, 83, 60);
   padding: 0.5rem 1.25rem;
   border-radius: 2.75rem;
   margin-top: 0;
   margin-bottom: 0;
}

.ham-burger {
   display: none;
}


/* stay healthy section styles  */
.stay-healthy {
   /* padding-bottom: 4.5rem; */
   display: flex;
   justify-content: space-between;
}

.healthy-text {
   font-size: 4.5rem;
   max-width: 520px;
   color: white;
   font-weight: bolder;
   margin-bottom: 0;
}

.healthy-description {
   width: 32.5rem;
   font-size: 1rem;
   margin-top: 1.75rem;
   margin-bottom: 1.75rem;
   color: rgba(255, 255, 255, 0.5);
}

.healthy-picture {
   position: relative;
}

.ball {
   width: 40px;
   height: 40px;
   background-color: rgb(230, 83, 60);
   border-radius: 50%;
}

.card-1 {
   justify-items: center;
   align-items: center;
   gap: 1rem;
   background-color: rgba(48, 48, 48, 0.54);
   width: 10rem;
   border-radius: .9rem;
   padding: 1.2rem 1.5rem;
   position: absolute;
   bottom: 3.125rem;
   left: -6.625rem;
}

.card-1 p {
   margin: 0;
   padding-bottom: 0.5rem;
}

.card-text {
   font-size: 1.5rem;
   font-weight: bolder;
   color: white;
}

.card-description {
   color: white;
   opacity: .4;
}

.card-2 {
   gap: 1rem;
   background-color: rgba(48, 48, 48, 0.54);
   width: 10rem;
   border-radius: .9rem;
   padding: 1.2rem 1.5rem;
   position: absolute;
   top: 7rem;
   right: -5.625rem;
}

.card-2 p {
   margin: 0;
   padding-bottom: 0.5rem;
}

.card-2 .card-text {
   font-size: 2.5rem;
}




/* habit section styles  */
.habit {
   padding-top: 6rem;
}

.habit-title {
   font-size: 3rem;
   margin-bottom: 0;
   margin-top: 0;
   color: white;
}

.habit-title-description {
   font-size: 1rem;
   color: rgba(255, 255, 255, 0.364);
}

.habit-contents {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin-top: 3.5rem;
}

.habit-content {
   text-align: center;
}

.habit-text {
   font-size: 1.2rem;
   font-weight: 600;
   color: white;
   margin-bottom: 0;
   margin-top: 1.6rem;
}

.habit-description {
   font-size: .9rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.468);
   margin-top: 6px;
}

.habit-img {
   max-width: 272px;
   border-radius: 50%;
}


/* run styles  */
.run {
   justify-items: center;
   align-items: center;
   margin-top: 6.25rem;
   background-color: rgb(34, 34, 34);
   border-radius: 1rem;
   padding: 2.5rem 3.5rem;
   box-sizing: border-box;
}

.run-texts {
   max-width: 443px;
}

.run-picture {
   padding-left: 17.2rem;
}

.run-title-text {
   font-size: 3rem;
   color: white;
   margin-bottom: 1rem;
}

.run-description {
   margin-bottom: 2.125rem;
   color: rgba(255, 255, 255, 0.5);
   font-size: .9rem;
}

.run-picture img {
   border-radius: 1rem;
}

/* bmi styles  */
.bmi {
   width: 100%;
   background-color: rgb(34, 34, 34);
   padding-bottom: 3.25rem;
}

.bmi-texts {
   margin-left: 12rem;
   margin-bottom: 2.5rem;
}

#bmi-title {
   padding-top: 0;
   margin-top: 0;
}

.bmi-title-text {
   font-size: 3rem;
   font-weight: 900;
   color: white;
   margin-bottom: .85rem;
   padding-top: 4.8rem;
}

.bmi-description {
   font-size: 0.8rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.5);
   margin-bottom: 0;
}

.caption {
   font-size: 1.75rem;
   font-weight: 900;
   color: white;
}

table,
th,
td {
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-collapse: collapse;
}

th {
   color: white;
   font-size: 1.2rem;
   padding: 1rem;
}

td {
   padding: 1rem;
   text-align: center;
   color: rgba(255, 255, 255, 0.5);
   font-size: 1rem;
}


form {
   margin-left: 12rem;
}

form input,
select {
   padding: 0.75rem 2rem;
   margin: .5rem;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 8px;
   border: none;
   color: rgba(255, 255, 255, 0.6);
}

select {
   padding-right: 129px;
   color: rgb(255 255 255 / 34%);
}

/* form select:nth-child(2) {
   padding-right: 40px;
} */

.submit {
   margin-top: 2rem;
}

/* team styles  */
.team {
   padding-top: 3.625rem;
   padding-bottom: 5.5rem;
}

.team-title-text {
   color: rgb(255, 255, 255);
   font-size: 3rem;
   font-weight: 900;
   margin-bottom: 1rem;
}

.team-description {
   color: rgba(255, 255, 255, 0.5);
   font-size: .9rem;
   padding-bottom: 0;
}


.team-cards {
   padding: 1.25rem;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 1.125rem;
   margin-top: 3.625rem;
}

.team-card {
   position: relative;
}

.row {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin: 1rem 0;
   gap: 1.25rem;
}

#team-img {
   width: 100%;
   height: 100%;
   border-radius: 1.2rem;
   filter: brightness(65%);
}

.team-content-text {
   position: absolute;
   top: 79%;
   left: 6%;
}

#team-card-title {
   color: white;
   font-size: 24px;
   font-weight: 600;
   margin-top: 0;
}

#team-card-description {
   color: rgba(255, 255, 255, 0.519);
   margin-bottom: 10px;
   font-size: 14px;
   font-weight: 400;
   margin-top: 32px;
}

/* teams and features related styles  */
.branch {
   justify-items: center;
   align-items: center;
   padding-bottom: 3rem;
}

.branch-img-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 24px;
}

.img-branch {
   width: 16.938rem;
   height: 14.438rem;
   border-radius: 2rem;
   filter: brightness(70%);

}

.img-relative {
   position: relative;
}

.img-branch-text {
   font-size: 2rem;
   color: white;
   font-weight: 800;
   position: absolute;
   z-index: 1;
   top: 130px;
   left: 25px;
}

.our-branches {
   margin-left: 3rem;
}

.branch-title {
   font-size: 3rem;
   font-weight: 900;
   color: white;
   margin-bottom: 1.5rem;
}

.branch-description {
   font-size: 1rem;
   color: rgba(240, 248, 255, 0.549);
}




/* footer styles  */
.footer {
   background-color: rgb(0 0 0 / 85%);
   padding-top: 4rem;
}

.footer h3 {
   margin-top: 0;
   margin-bottom: 1.4rem;
}

.footer-description {
   color: rgba(255, 255, 255, 0.429);
}

.footer-logo .span {
   color: rgb(230, 83, 60);
   font-size: 4.3rem;
   font-weight: 800;
}

.footer-logo a {
   text-decoration: none;
}

.footer-menu-content {
   padding-left: 7rem;
}

.footer-menu-content a {
   text-decoration: none;
}

.footer-title {
   font-size: 2rem;
   font-weight: 700;
   color: white;
}

.footer-menu {
   font-size: 1.3rem;
   color: rgba(255, 255, 255, 0.5);
   font-weight: 400;
}

.footer-credit-text {
   font-size: 1.25rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.5);
   padding: 2.25rem 0;
   margin-bottom: 0;
}

.footer hr {
   margin-top: 5rem;
   width: 1059px;
   color: rgba(255, 255, 255, 0.1);
}




























/* responsive styles  */

/* mobile devices  */
@media screen and (max-width: 576px) {
   .secondary-btn {
      margin-left: 6px;
   }

   .container {
      max-width: 350px;
      margin: 0 6px;
   }

   .navbar {
      padding-top: 0;
   }

   .nav-options {
      display: none;
   }

   .ham-burger {
      display: block;
      font-size: 2rem;
      color: white;
   }

   /* stay-healthy styles  */
   .stay-healthy {
      flex-direction: column;
   }

   .healthy-text {
      max-width: 599.05px;
      margin-top: 0;
      font-size: 35px;
   }

   .healthy-description {
      width: 274px;
   }

   .btn {
      display: flex;
      flex-direction: row;
   }

   .primary-btn {
      padding: 1rem;
   }

   .secondary-btn {
      padding: 1rem;

   }

   .healthy-picture {
      margin-top: 3rem;
   }

   .healthy-picture img {
      width: 315px;
   }

   /* cards responsive */

   .card-1 {
      justify-items: center;
      align-items: center;
      gap: 1rem;
      background-color: rgba(48, 48, 48, 0.54);
      width: 10rem;
      border-radius: .9rem;
      padding: 1.2rem 1.5rem;
      position: absolute;
      bottom: 14rem;
      left: 1rem;
   }

   .card-2 {
      background-color: rgb(109 102 102 / 13%);
      width: 6rem;
      border-radius: .9rem;
      padding: 1rem 1rem;
      position: absolute;
      top: 2rem;
      right: 1rem;
   }

   .card-2 p {
      margin: 0;
   }

   .card-2 .card-text {
      font-size: 1.5rem;
   }

   .card-2 .card-description {
      font-size: 0.614rem;
   }

   /* habit styles  */
   .habit {
      padding-top: 3rem;
   }

   .habit-contents {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 3.5rem;
      gap: 1rem;
   }

   .habit-title {
      font-size: 2rem;
   }

   .habit-text {
      margin-bottom: 6px;
   }

   .habit-description {
      max-width: 231px;
      margin: 0 auto;
   }

   /* run styles  */
   .run {
      flex-direction: column;
      margin-top: 4.125rem;
      padding: 2rem 2.3rem;
   }

   .run-title-text {
      font-size: 2rem;
   }

   .run br {
      display: none;
   }

   .run-picture img {
      width: 256px;
   }

   .run-picture {
      padding-left: 1rem;
      margin-top: 2rem;
   }

   /* bmi styles  */
   th {
      font-size: 1rem;
   }

   .bmi-title-text {
      font-size: 2rem;
      font-weight: 900;
   }

   #bmi-title {
      margin-top: 45px;
   }

   .bmi-flex {
      flex-direction: column;
   }

   .bmi-texts {
      margin-left: 0;
      margin-bottom: 2.5rem;
   }

   form {
      margin-left: 0;
   }

   select {
      padding-right: 37px;
   }



   /* team styles  */
   .row {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 1rem 0;
      gap: 1.25rem;
   }

   .team-content-text {
      top: 69%;
   }

   .team-title-text {
      font-size: 2rem;
   }

   .team {
      padding-bottom: 2.5rem;
   }

   /* branch styles  */
   .branch {
      flex-direction: column-reverse;
   }

   .our-bracnhes {
      margin-left: 1rem;
   }

   .branch-title {
      font-size: 2rem;
      margin-top: 0;
   }

   .branch-img-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
   }

   /* footer styles  */

   .footer-contents {
      flex-direction: column;
   }

   #footer {
      flex-direction: column;
   }

   .footer-menu-content {
      padding-left: 0;
   }

   .footer hr {
      margin-top: 4.5rem;
      width: 290px;
   }
}



















/* medium devices  */
@media screen and (min-width:576px) and (max-width:992px) {
   .container {
      max-width: 90%;
      margin: 0 auto;
   }

   .navbar {
      padding-top: 3.5rem;
   }

   .nav-options {
      gap: 3rem;
   }

   /* stay healthy styles  */

   .stay-healthy {
      flex-direction: column;
      justify-items: center;
      align-items: center;
   }

   .healthy-picture {
      margin-top: 4.5rem;
   }

   .card-1 {
      bottom: 9.125rem;
      left: -3.625rem;
   }

   .card-2 {
      background-color: rgb(0 0 0 / 13%);
      top: 2rem;
      right: -3.5rem;
   }

   /* habit styles  */

   .habit-contents {

      grid-template-columns: repeat(2, 1fr);
      margin-top: 3.5rem;
      gap: 1rem;
   }

   .habit-title {
      font-size: 2.2rem;
   }

   .run {
      margin-top: 4.125rem;
      padding: 2rem 2.3rem;
   }

   .run-picture img {
      max-width: 256px;
   }

   .run-picture {
      padding-left: 1rem;
      margin-top: 2rem;
   }

   /* bmi styles  */
   .bmi-title-text {
      font-size: 3rem;
      font-weight: 900;
   }


   #bmi-title {
      margin-top: 45px;
   }

   .bmi-flex {
      flex-direction: column;
   }

   .bmi-texts {
      margin-left: 0;
      margin-bottom: 2.5rem;
   }

   form {
      margin-left: 0;
   }

   /* team styles  */
   .team-content-text {
      position: absolute;
      top: 63%;
      left: 6%;
   }


   /* our branch styles  */
   .branch {
      flex-direction: column-reverse;
   }


   /* footer styles  */
   #footer {
      flex-direction: column;
   }

   .footer-menu-content {
      padding-left: 0;
   }

   .footer hr {
      margin-top: 4.5rem;
      width: 683px;
   }

   .footer-title {
      font-size: 2rem;
   }

   #footer-right-menu {
      padding-left: 9.5rem;
   }

}